#sectionRealiser img{
    position: absolute;
    right: 500px;
    top:190px;
    width: 400px; /* Ajuste selon besoin */
    
}
.transformer #row3{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}