





nav{
  position: fixed;
  width: 100%;
  z-index: 1000;
  color: #2267c2;
}
nav a{
  color: black;
  
}
.nav li{
  font-weight: bold;

}
nav img{
  color: #fff;
}

.nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color:white;
  width: 100%;
  padding: 0.5em 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    color: rgb(19, 17, 17);
    z-index: 1000;
    list-style-type: none;
    margin: 0;
}

.nav a {
  text-decoration: none;
  padding: 0.5em 1em;
}

.nav a:hover {
  
}
.nav li .linkContent{
  cursor: pointer;
  transition: max-height 0.3s ease-in-out;
  background-color: white;
  border-radius: 20px;
  padding: 0;
  text-align: left;
  right: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-weight: 100;
  

}
.con{
  background-color: #2267c2;
  color: white;
  font-weight:500;
  padding: 0;
}
.con .col-3 img{
  width:80px;
  
}
.linkContent li{
  list-style-type: none;
  text-align: left;
  margin: 5px;
  
}
.linkContent li a{
  font-weight: 400;
}
.navlink{
  cursor: pointer;
}










main{
  padding-top: 110px;
}






#domainetable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
}
#domainetable .col-lg-6{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}
#domainetable2{
  display: flex;
   justify-content: space-between;
    margin: 10px 0;
     padding: 0px;

}
#domainetable2 .col-lg-5{
  text-align: start;
   display: flex;
    justify-content: flex-start;
    padding: 0px;

}
#domainetable2 .col-md-12{
  text-align: start;
   display: flex; 
   justify-content: flex-end;
    padding: 0px;

}
#domain h5{
  font-weight: 700;
}


table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #d1d5db;
  width: 100%;
}

.old-price {
  -webkit-text-decoration: line-through red;
  text-decoration: line-through red;

  padding: 2% 10%;
  
}

.optionInclus {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.optionInclus .row {
  display: flex;
  justify-content: center;
}

.optionInclus .row .col-lg-3 {
  background-color: #D1D5DB;
  margin: 5px ;
  padding: 20px;
}

#sectionRealiser {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right ;
  background-color: #0b1120; 
  min-height: 20rem;
  font-weight: bold;
  color: white;
}

.research {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.research form{
  width: 100%;
}

.research button{
  background-color: aqua;
  margin: 0;
  border: 1px solid aqua;
  font-weight: 500;
  height: 30px;
  width: 20%;

}
.sectionResearchbutton{
  background-color: red;
}

.research input{
  margin: 0;
  width: 50%;
}

.questionfrequamentPoser {
  font-weight: bold;
}

.collapse-button {
  min-height: 2rem;
  background-color: #fff;
  margin: 1rem 0;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(186, 235, 235);
  color: rgb(89, 89, 224);
}

.questionfrequamentPoser #collapseButton {
  color: rgb(33, 147, 175);
  min-height: 20rem;
  width: 70%;
  cursor: pointer;
}

.divlink:hover {
  background-color: rgb(146, 162, 214);
}

.collapse-content {
  max-height: 0;  /* Cache le contenu */
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.collapse-content.active {
  max-height: 500px; /* Ajuste selon le contenu */
}


.questionfrequamentPoser .collapseContent.active {
  display: block;
}

#firstfootercontainer {
  background-color: rgb(38, 72, 124);
  color: #fff;
}

#firstfootercontainer a {
  text-decoration: none;
  color: #fff;
}

#firstfootercontainer a:hover {
  text-decoration: underline;
}

.containern {
  background-color: rgb(17, 29, 54);
  color: #fff;
}

.optionInclusMain {
  font-size: 20px;
  font-weight: 700;
}

.optionInclus .col-sm-12 {
  text-align: left;
}

.optionInclus .col-sm-12 span {
  color: rgb(50, 50, 151);
  font-weight: 700;
}

.containerm {
  padding: 0 10% 0 10%;
}

.containern {
  margin: 0;
}

.supportClient {
  background-color: rgb(6, 30, 104);
  color: white;
  padding: 0 10% 0 10%;
}

.supportClient {
  background-color: #060642;
  color: #fff;
}

.supportClient img {
  border-radius: 400px;
  width: 300px;
  border: 4px solid rgb(107, 107, 194);
}

#divbuttonExtension {
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
}
#buttonactualiser{
  background-color: aqua;
  color: rgb(34, 34, 95);
  border: 1px solid aqua;
  font-weight: 500;
}
#buttonactualiser:hover{
  background-color: white;
  color: rgb(34, 34, 95);
  border: 1px solid rgb(34, 34, 95);
  font-weight: 500;
}
#buttonRecherche{
  background-color: aqua;
  color: rgb(34, 34, 95);
  border: 1px solid aqua;
  font-weight: 500;
}
#buttonRecherche:hover{
  background-color: white;
  color: rgb(34, 34, 95);
  border: 1px solid rgb(34, 34, 95);
  font-weight: 500;
}
#buttonExtension{
  background-color: aqua;
  color: rgb(34, 34, 95);
  border: 1px solid aqua;
  font-weight: 500;
  
}
#buttonExtension:hover{
  background-color: white;
  color: rgb(34, 34, 95);
  border: 1px solid rgb(34, 34, 95);
  font-weight: 500;
}
#buttonExtensionContainer{
  text-align: center;
}
#firstfootercontainer img{
  width: 100px;
  border-radius: 10px;
}
/* Mobile */
@media (max-width: 576px) {
  #firstfootercontainer{
    padding: 0% 1%;
  }
  .supportClient{
    padding: 0% 1%;
  }
  .cequeLesGens{
    padding: 0% 1%;
    
  }
  .carousel-slide{
    width: 90%;
  }
  .carousel-slide .carousel-card{
    width: 100%;
  }
  .pourqouiNousChoisir{
    padding: 0% 1%;
  }
  .vitessePerfomance{
    padding: 0% 1%;
  }
  .forfait{
    padding: 0% 1%;
  }
  .research{
    padding: 0% 1%;
  }
  .container1{
    padding: 0% 1%;
  }
  .questionfrequamentPoser{
    padding: 0% 1%;

  }
  .optionInclus{
    padding: 0% 1%;

  }
  #sectionRealiser{
    padding: 0% 1%;

  }
  #domain{
  padding: 0% 1%;
  }
  .col-image{
    display: none;
}
.nav{
    padding: 0% 1%;
}
.con{
    padding: 0;
}
.to-be-hidden-nav{
    display: none;

}
.nav{
  display:none;
}
}

/* Tablette */
@media (max-width: 992px) {
  #firstfootercontainer{
    padding: 1% 5%;
  }
  .supportClient{
    padding: 1% 5%;
  }
  .cequeLesGens{
    padding: 1% 5%;
    
  }
  .pourqouiNousChoisir{
    padding: 1% 5%;
  }
  .vitessePerfomance{
    padding: 1% 5%;
  }
  .forfait{
    padding: 1% 5%;
  }
  .research{
    padding: 1% 5%;
  }
  .container1{
    padding: 1% 5%;
  }
  .questionfrequamentPoser{
    padding: 1% 5%;

  }
  .optionInclus{
    padding: 1% 5%;

  }
  #sectionRealiser{
    padding: 1% 5%;

  }
  #domain{
  padding: 1% 5%;
  }
  .col-image{
    display: none;
}
.nav{
    padding: 0% 5%;
}
.con{
    padding: 0% 0%;
}
.con .row .col-lg-5{
  width: 180%;
}

}

/* Ordinateur */
@media (min-width: 993px) {
  #firstfootercontainer{
    padding: 2% 10%;
  }
  .supportClient{
    padding: 2% 10%;
  }
  .cequeLesGens{
    padding: 2% 10%;
    
  }
  .carousel-slide{
    padding: 2% 10%;

  }
  .pourqouiNousChoisir{
    padding: 2% 10%;
  }
  .vitessePerfomance{
    padding: 2% 10%;
  }
  .forfait{
    padding: 2% 10%;
  }
  .research{
    padding: 2% 10%;
  }
  .container1{
    padding: 2% 10%;
  }
  .questionfrequamentPoser{
    padding: 2% 10%;

  }
  .optionInclus{
    padding: 2% 10%;

  }
  #sectionRealiser{
    padding: 2% 10%;

  }
  #domain{
  padding: 2% 10%;
  }
  .nav{
    padding: 0% 10%;
}
.con{
    padding: 0% 16%;
}


}


/*# sourceMappingURL=enregistrer.css.map */