


.supportClient{
    background-color:  #060642;
    color: #fff;
  }
  .supportClient img{
    border-radius: 400px;
    width: 300px;
    border: 4px solid rgb(107, 107, 194);
  }
  #sectionRealiser{
    display: flex;
    justify-content: center;
    align-items: center;
  
    & #Realiser{
      color: white;
  }
}
#PourquoiNousChoisirMigration{
    background-color: #D1D5DB;
    
}
#PourquoiNousChoisirMigration .row .col-lg-3{
    background-color: #fff;
    margin: 5px;
    padding: 10px;
    text-align: left;
}
#PourquoiNousChoisirMigration .row{
  display: flex;
  justify-content: center;

}
#PourquoiNousChoisirMigration .row .col-lg-5{
    background-color: #fff;
    margin: 5px;
    padding: 10px;
    text-align: left;

}
#PourquoiNousChoisirMigration .row .col-lg-5 button{
    color: white;
    background-color: rgb(52, 75, 180);
    border: 2px solid rgb(52, 75, 180);
    font-weight: 500;
}
#PourquoiNousChoisirMigration .row .col-lg-5 button:hover{
    background-color: #fff;
    color: rgb(52, 75, 180);
    border: 2px solid rgb(52, 75, 180);
}

#PourquoiNousChoisirMigration .row{
    display: flex;
    justify-content: center;
}      
/* Mobile */
@media (max-width: 576px) {
  body {
    background-color: lightblue;
  }
}

/* Tablette */
@media (max-width: 992px) {
  #PourquoiNousChoisirMigration{
    padding: 2% 10%;
  }
}

/* Ordinateur */
@media (min-width: 993px) {
  body {
    background-color: lightcoral;
  }
}
