


main{
    padding-top: 200px;
}


  .supportClient{
    background-color:  #060642;
    color: #fff;
  }
  .supportClient img{
    border-radius: 400px;
    width: 300px;
    border: 4px solid rgb(107, 107, 194);
  }

.optionInclus {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }
  .optionInclus .row {
    display: flex;
    justify-content: center;

  }
  .optionInclus .row .col-lg-3 {
    background-color: #D1D5DB;
    margin: 5px;
    padding: 20px;
    text-align: left;
  }
  .optionInclus span{
    font-weight: bold;
  }
  #sectionRealiser{
    display: flex;
    justify-content: center;
    align-items: center;
  
    & #Realiser{
      color: white;
  }
  
}
#sectionForfait{
  background-color: white;
}
#forfait .col-md-12 {
  display: flex;
  flex-direction: column;
}
#forfait .col-md-12 li {
  min-height: 40px;
  display: flex;
}

.forfait {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.forfait #first{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.forfait h3{
  font-weight: bold;
}
.forfait li:nth-child(odd) {
  background-color: #d1d5db;
  display: flex;
  justify-content: start;
  align-items: center;
}
.forfait li:nth-child(even) {
  background-color: #fff;
  display: flex;
  justify-items:start;
  align-items: center;
}
.forfait li {
  list-style-type: none;
  width: 100%;
}