





main{
    padding-top: 110px;
}


  .supportClient{
    background-color:  #060642;
    color: #fff;
  }
  .supportClient img{
    border-radius: 400px;
    width: 300px;
    border: 4px solid rgb(107, 107, 194);
  }
  #sectionRealiser{
    display: flex;
    justify-content: center;
    align-items: center;
  
    & #Realiser{
      color: white;
  }
}
.optionInclus {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }
  .optionInclus .row {
    display: flex;
    justify-content: center;
  }
  .optionInclus .row .col-lg-5 {
    background-color: #D1D5DB;
    margin: 5px;
    padding: 20px;
  }
  .optionInclus span{
    color: rgb(21, 129, 201);
  }
  .optionInclus .col-sm-12 span {
    color: black;
    font-weight: 700;
  }