

body{
    background-color: aqua;
}

#domainetable{
    display: flex;
    flex-direction: column;  
    
}
table {
   width:100%;
    border-collapse: collapse;
    margin: 1%;
}
td, th {
    padding: 10px;
    text-align: center;
}
tr:nth-child(odd){
    background-color: #d1d5db;
}
.old-price{
    text-decoration: line-through red;
}
#domaine{
    margin: 10%;
} 
.optionInclus{
    margin: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    & .row{
        display: flex;
        justify-content: center;


    
    & .col-lg-3{
        background-color: #D1D5DB;
        margin: 5px;
        padding: 20px;
        
    }
}
}
#Realiser{
    margin: 10%;
    background-color: blueviolet;
    padding: 2px;
}