


#seConnecter{
    background-color: #d1d1d1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 40rem;
}
#seConnecter form{
    text-align: start;
}
#seConnecter .col-lg-12{
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

form input{
    min-height: 30px;
    width: 100%;
    font-size: 16px;
    border: 2px solid #ccc;
    margin:  15px 0;

}
form input::placeholder{
    color: gray;
    font-size: 14px;
    opacity: 0.8; 
    font-weight: 500;
}
#seConnecter button{
    color: blue;
    background-color: aqua;
    width: 100%;
    border: 1px solid aqua;
    min-height: 30px;
    font-weight: bold;
    font-size: 15px;

}
#seConnecter button:hover{
    background-color: white;
    color: rgb(47, 47, 129);
    border: 1px solid  rgb(47, 47, 129);

}